<h1>Welcome</h1>

<a href="/"><button type="button" name="button">Home</button></a>
<button type="button" name="button" id="clear">Clear Saved Articles</button>

<div id="header"></div>

<div id="articleContainer"></div>


{{#each articles}}
    {{this.title}}<br>
    <a href="{{this.link}}">{{this.link}}</a><br>
    <div id="articleNotes_{{this._id}}">
        <div id="notelist_{{this._id}}"></div>
        <form class="noteSubmit" hidden>
            <textarea name="notes" cols="120"></textarea><br>
            <input type="text" name="articleID" value="{{this._id}}" hidden>
            <button name="button" type="submit">Add Note</button>
        </form>
        <button type="button" name="button" class="articleNotesbtn" data-articleid={{this._id}}>Article Notes</button>
    </div>


    <hr>
{{/each}}


<script src="js/savedarticles.js" type="text/javascript"></script>