<div class="header"><h1 class="center-align">Saved Articles</h1></div>

<div class="buttonHeader center-align">
    <a href="/"><button type="button" class="btn-large waves-effect waves-light"  name="button">Home</button></a>
    <button type="button" class="btn-large red waves-effect waves-light" name="button" id="clear">Clear Saved Articles</button>
</div>



{{#each articles}}
    <h5>{{this.title}}</h5>
    <p>Link:    <a target="_blank" href="{{this.link}}">{{this.link}}</a></p>
    <p>Comments:    <a target="_blank" href="{{this.comments}}">{{this.comments}}</a></p>
    <div class="articleContainer" id="articleNotes_{{this._id}}">
        <div id="notelist_{{this._id}}"></div>
        <form class="noteSubmit" hidden>
            <textarea name="notes" cols="120"></textarea><br>
            <input type="text" name="articleID" value="{{this._id}}" hidden>
            <div id="error_{{this._id}}"></div>
            <button name="button" class="btn-small" type="submit"><i class="material-icons left">add</i>Add Note</button>
        </form>
        <button type="button" name="button" class="btn-small blue lighten-2 articleNotesbtn" data-articleid={{this._id}}><i class="material-icons left">notes</i>Article Notes</button>
    </div>


    <hr>
{{/each}}


<script src="js/savedarticles.js" type="text/javascript"></script>